<div class='user-post'>
  <h4 class='post-title'><%= post.title%> </h4>
  <p class='post-text'>
    <%= post.text %>.
  </p>
  <p class='statics'>Comments: <span><%= post.comments_counter %></span>, Likes: <span><%= post.likes_counter %></span></p>
</div>